<!-- <p>data-table works!</p> -->

<div class="card-body">
  <table class="table table-striped">
    <thead>
      <tr>
        <th *ngFor="let col of tableColumns">
          <span *ngIf="col.hidden !== true">
            {{ col.title }}
          </span>
        </th>
        <th></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th *ngFor="let col of tableColumns">
          <span *ngIf="col.hidden !== true">
            {{ col.title }}
          </span>
        </th>
        <th></th>
      </tr>
    </tfoot>
    <tbody>
      <tr *ngFor="let row of list$ | async">
        <td *ngFor="let col of tableColumns">
          <span *ngIf="!col.htmlOutput && col.hidden !== true">{{ row[col.key] }}</span>
          <span *ngIf="col.htmlOutput && col.hidden !== true" [innerHTML]="col.htmlOutput(row[col.key])"></span>
        </td>
        <td>
          <div class="btn-group">
            <button (click)="onSelect(row)" class="btn btn-info">
              <i class="fas fa-pencil-alt"></i>
            </button>
            <button (click)="onDelete(row)" class="btn btn-danger">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
